*
!/.gitignore
!/backend/
!/backend/**
!/frontend_karyawan_flutter/
!/frontend_karyawan_flutter/**

backend/node_modules/
backend/.env

frontend_karyawan_flutter/.dart_tool/
frontend_karyawan_flutter/.idea/
frontend_karyawan_flutter/.vscode/
frontend_karyawan_flutter/build/
frontend_karyawan_flutter/android/.gradle/
frontend_karyawan_flutter/android/local.properties
frontend_karyawan_flutter/.flutter-plugins
frontend_karyawan_flutter/.flutter-plugins-dependencies
